.pokemon-detail {
  padding: 0 2rem;

  &__error {
    text-align: center;
    color: #40345a;
    margin-bottom: 2rem;
  }
}

.btn {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  padding: .5rem 1rem;
  border: 5px solid #D973B9;
  background-color: #ffcf31;
  border-radius: .5rem;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .3);
  transition: all .3s;
  color: #40345a;
  font-size: 1.6rem;
  font-weight: 800;
  font-family: inherit;

  &:hover {
    background-color: #ffcf3198;
    transform: translateY(-2px);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
  }
}