.back-to-top {
	padding: 0.75rem 1.75rem;
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: #ca6bacca;
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 1rem;
	border: 0.25rem solid #ffe0313a;
	outline: none;
	position: fixed;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		background-color: #ca6bac;
		border: 0.25rem solid #ffe031b2;
	}

	&:focus {
		background-color: #ca6bac;
		border: 0.25rem solid #ffe031b2;
	}

	&--hide {
		display: none;
	}
}
