.pokemon-list {
	padding: 0 2rem;
	max-width: 1400px;

	@media (min-width: 800px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
		row-gap: 1rem;
	}

	@media (min-width: 1250px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2rem;
		row-gap: 1rem;
	}

	&__loading {
		padding: 0 3rem;
		text-align: center;
		color: #40345a;
	}
}
