.pokemon-item {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 16px;
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 35rem;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		background-color: rgba(255, 255, 255, 0.7);
	}

	@media (min-width: 800px) {
		&:hover {
			transform: scale(1.1);
			background-color: rgba(255, 255, 255, 0.7);
		}
	}

	@media (min-width: 1600px) {
		background: rgba(255, 255, 255, 0.5);
	}

	&__number {
		background-color: #7c5ebdc4;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
		display: inline-block;
		padding: 0.25rem 0.5rem;
		border-radius: 0.5rem;
		color: rgba(255, 255, 255, 0.7);
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		font-weight: 300;
		font-size: 1rem;
	}

	&__num-icon-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 0.5rem;
	}

	&__icon {
		color: #7c5ebdd2;
		font-size: 1.8rem;
		margin-left: 0.5rem;
		transition: all 0.3s;
		position: relative;
		text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

		&:hover {
			color: #7c5ebd;
			color: rgba(255, 255, 255, 0.8);
		}
	}

	&__name {
		font-size: 1.8rem;
		color: #40345a;
		margin-bottom: 0.5rem;
	}

	&__type {
		font-size: 1rem;
		display: inline-block;
		font-weight: 300;
		color: #40345a;
		padding: 0 0.35rem;
		color: rgba(255, 255, 255, 0.8);
		text-shadow: 0 2px 4px rgba(49, 49, 49, 0.2);
		border-radius: 0.25rem;
		margin-right: 0.5rem;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

		&--normal {
			background-color: #95956b;
		}

		&--grass {
			background-color: #7bb160;
		}

		&--fire {
			background-color: #d1712c;
		}

		&--poison {
			background-color: #a040a0;
		}

		&--water {
			background-color: #6890f0;
		}

		&--electric {
			background-color: #f8d030;
			color: #5c5021c7;
		}

		&--ice {
			background-color: #98d8d8;
			color: #517474d7;
		}

		&--ground {
			background-color: #b39a58;
		}

		&--flying {
			background-color: #9781db;
		}

		&--fighting {
			background-color: #c03028;
		}

		&--psychic {
			background-color: #f85888;
		}

		&--dark {
			background-color: #705848;
		}

		&--rock {
			background-color: #b8a038;
		}

		&--bug {
			background-color: #95a037;
		}

		&--ghost {
			background-color: #705898;
		}

		&--steel {
			background-color: #9b9bb1;
		}

		&--dragon {
			background-color: #7038f8;
		}

		&--fairy {
			background-color: #ffaec9;
			color: #684d56d5;
		}
	}
}
