.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

	& .pikachu {
		width: 50%;
    max-width: 25rem;
		position: fixed;
		bottom: 3rem;
		left: 3rem;
		z-index: -100;
    overflow: hidden;
	}

  & main {
    max-width: 100vw;
  }
}